.banner-right{
    position: relative;
}

.sparkles{
    content: url('../../../assets/sparkle.png');
    position: absolute;
    opacity: 0.5;
    z-index: 0;
}

.banner-desc{
    h2{
        font-size: max(37px, 3.7vw);
    font-weight: bolder;
    line-height: 1.4;
    margin: 0;
    z-index: 2;
    }
    p{
        font-size: max(15px, .95vw);
        z-index: 2;
    }
}

.banner-img{
    z-index: 2;

}

@media (max-width: 645px) {

    .banner{
        flex-direction: column;
    }
    .banner-desc {
        h2 {
            margin-left: 0 !important;
            text-align: center;
            font-size: 24px;
        }
        p {
            margin-left: 0 !important;
            text-align: center;

            font-size: 12px;
        }
    }

    .banner-right {
        // width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
    }

    .sparkles {
        opacity: 0.3;
    }

    .banner-img {
        display: flex
;
        width: 100%;
        align-items: center;
        justify-content: center;

        img{
            width: 100%;
        }
    }
}